In [1]:
#task7 inbuilt methods

In [2]:
a = {2,3,4,5.5,"feb","math"}

In [3]:
type(a)

set

In [4]:
a.add(6)  #adding a single item

In [5]:
print(a)

{2, 3, 4, 5.5, 6, 'feb', 'math'}

In [6]:
b = {"s","d","f",3.4}

In [7]:
type(b)

set

In [10]:
b.update([3,4,5,6])  #adding more than one item

In [11]:
print(b)

{3, 'd', 3.4, 4, 5, 'f', 6, 's'}

In [19]:
c = {2,3,4,5.6,7,8,"jan","feb"}
d = {2,3,4,5.6,7,8,"jan","march"}

In [20]:
z = c.difference(d)    #difference

In [21]:
print(z)

{'feb'}

In [32]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [35]:
x = set1.symmetric_difference(set2)  #returns the set containing all the elments ,except elements that are present in both

In [36]:
print(x)

{1, 2, 3, 6, 7, 8}

In [47]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}

In [48]:
m = x.union(y)  #returns the set containing all the elements

In [49]:
print(m)

{'b', 'd', 'f', 'c', 'a'}

In [50]:
n = x.intersection(y)    #returns the set containing elements that are not present in both the sets
print(n)

{'a'}