In [1]:
#using while loop print numbers from 10 to 1

In [15]:
j=11

In [16]:
while(j>1):
    j = j-1
    print(j)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#try using for loop to loop over tuples,sets and dictionaries

In [17]:
list1 = [1,2,3,"march",5.5]

In [19]:
for i in list1:
    print(i)

1
2
3
march
5.5

In [20]:
#tuple

In [21]:
tup1 =(3,5,7,8.8)

In [22]:
for j in tup1:
    print(j)

3
5
7
8.8

In [23]:
#sets

In [24]:
s1 = {1,2,3,4,5}

In [26]:
for m in s1:
    print(m)

1
2
3
4
5

In [27]:
#dict

In [28]:
d1 = {"name":"tej","place":"india"}

In [29]:
type(d1)

dict

In [32]:
for x in d1:
    print(x)

name
place

In [ ]:
#usage of continue to print only even numbers #task 10.1

#continue helps to continue the iteration by skipping the particular iterations that doesn't satisfies the code.

In [38]:
count = 0
while(count<11):
    count = count + 1
    if(count%2 != 0):
        continue
    print(count)

2
4
6
8
10

In [2]:
#task 10.2  # pass keyword with example

In [9]:
#pass keyword helps the coder to avoid getting an error when empty code is
#not allowed.

In [22]:
for i in range(5):   #showing error

SyntaxError: unexpected EOF while parsing (<ipython-input-22-aa82eeb25f1e>, line 1)

In [23]:
for j in range(10):   #error is not shown because of the usage of pass
    pass